
@font-face {
    font-family: "MyCustomFont2";
    src: url("https://fd.aigei.com/src/fil/otf/61/616b212e466c48d3ada8653c7424fcb5.otf?download/Penumbra%E5%AD%97%E4%BD%93_%E7%88%B1%E7%BB%99%E7%BD%91_aigei_com.otf&e=1698268020&token=P7S2Xpzfz11vAkASLTkfHN7Fw-oOZBecqeJaxypL:xaif3eVaeYaBr9sMj_K7Gg8X-Ds=");
}



.hours {
    background-color: rgb(17,38,79);
    font-size: 16px;
    line-height: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    position: relative;
    bottom: 0;
    color: ivory;
    font-family: 'MyCustomFont2', sans-serif;
    z-index: 100;
}

    .hours li {
        list-style-type: none;
    }

    .hours div {
        padding-top: 10px;
    }
