@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="about_all">
        <div>
            <h3 class="headsettings">Our Food Pictures</h3>
            <link href="@Url.Content("~/Content/headsettings.css")" rel="stylesheet" type="text/css" />
        </div>
        <div>
            <p>
                Our food is delicious in colour and aroma,
                and each dish is carefully prepared to present attractive colours and aromas.
            </p>
            <p>
                If you are interested in our food and want to know more about it,
                please take a look at the pictures below, which will show you the charm of our food.
            </p>
        </div>
        <div class="image-container">
            <img src="~/images/Caviar.jpg" alt="Image 1">
            <p>Caviar</p>
        </div>
        <div class="image-container">
            <img src="~/images/Goose Liver Paste.jpg" alt="Image 2">
            <p>Goose Liver Paste</p>
        </div>
        <div class="image-container">
            <img src="~/images/Minestrone Soup.jpg" alt="Image 3">
            <p>Minestrone Soup</p>
        </div>
        <div class="image-container">
            <img src="~/images/homeMenu1.jpg" alt="Image 4">
            <p>Borscht</p>
        </div>
        <div class="image-container">
            <img src="~/images/homeMenu3.jpg" alt="Image 5">
            <p>Steamed Fish</p>
        </div>
        <div class="image-container">
            <img src="~/images/Braised Fish in Brown Sauce.jpg" alt="Image 6">
            <p>Braised Fish in Brown Sauce</p>
        </div>
        <div class="image-container">
            <img src="~/images/homeMenu2.jpg" alt="Image 7">
            <p>Black Pepper Beef Cube</p>
        </div>
        <div class="image-container">
            <img src="~/images/Beef Wellington.jpg" alt="Image 8">
            <p>Beef Wellington</p>
        </div>
        <div class="image-container">
            <img src="~/images/Three Color Steamed Egg.jpg" alt="Image 9">
            <p>Three Color Steamed Egg</p>
        </div>
        <div class="image-container">
            <img src="~/images/Steamed Egg with Tofu.jpg" alt="Image 10">
            <p>Steamed Egg with Tofu</p>
        </div>
        <div class="image-container">
            <img src="~/images/Green salad.jpg" alt="Image 11">
            <p>Green salad</p>
        </div>
        <div class="image-container">
            <img src="~/images/homeMenu4.jpg" alt="Image 12">
            <p>Main salad</p>
        </div>
        <div class="image-container">
            <img src="~/images/Tiramisu.jpg" alt="Image 13">
            <p>Tiramisu</p>
        </div>
        <div class="image-container">
            <img src="~/images/Egg Tart.jpg" alt="Image 14">
            <p>Egg Tart</p>
        </div>
        <div class="image-container">
            <img src="~/images/Coffee.jpg" alt="Image 15">
            <p>Coffee</p>
        </div>
        <div class="image-container">
            <img src="~/images/Milk.jpg" alt="Image 11">
            <p>Milk</p>
        </div>
        
    </div>
    <link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
</main>