@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">

    <div class="contect_h1">
        <h1>Contect Us</h1>
    </div>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <div class="all">
        <!-- contect information about leisure -->
        <div class="information">
            <h1>Information</h1>
            <p>
                Use the form below to send us a feedback,
                and we'll improve our service or dishes according to your suggestions.
            </p>
            <p>
                For assitance with <strong class="big">reservations</strong>, email us at
                <strong class="big"><a href="mailto:reservations@Leisure.com">reservation@Leisure.com</a></strong>
                and a member of our staff will help you
                find a table as soon as possible.
            </p>
            <p>
                We would love to host your wedding,
                birthday celebration, family gathering
                or other special event in our beautiful space.
                <strong class="big">For parties of 15 guests or more,</strong> please email
                <strong class="big"><a href="mailto:events@Leisure.com">events@Leisure.com</a></strong>
                for details about booking a private event.
            </p>
            <p>
                <strong class="big">For general inquiries</strong>, you can also reach us by phone at
                <strong class="big"><a href="tel:123-456-7890">123-456-7890</a></strong>
                or email <strong class="big"><a href="mailto:12345678910@qq.com">12345678910@qq.com</a></strong>.
                By the way, you can also come to the offline store to talk with us in detail,
                our address is  92Kensington Park Rd, Notting Hill, London W11 2PN.
            </p>


        </div>

        <div class="where">
            <h1>Where Are We?</h1>
            <div class="where_content">
                <p class="where_p">
                    Leisure's address is 92Kensington Park Rd, Notting Hill,
                    London W112PN, which is located in the heart of London
                    -- the most prosperous area. The transportation is very
                    convenient near Leisure. You can take the subway, taxi,
                    bus and so on. When you are tired of shopping in the
                    neighborhood, don't forget that Leisure is the best choice
                    for rest!
                </p>
                <img class="map" src="~/images/map.png" alt="8">
            </div>
        </div>
        
    </div>

</main>